.aic-status-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .group {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .aic-status-dashboard {
  }
}
