<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gaming Table Controller</span>
  <span class="menu-spacer"></span>
  <div class="statuses">
    <app-aic-status></app-aic-status>
    <app-table-status></app-table-status>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a routerLink="/" mat-menu-item>Home</a>
  <a routerLink="/mtg-health" mat-menu-item>MTG</a>
</mat-menu>

<router-outlet />
