You are connected to AIC

<button mat-raised-button (click)="logout()">Logout</button>

<div>
  <h3>Groups</h3>
  <mat-form-field>
    <mat-label>Select Group</mat-label>
    <mat-select [value]="selectedGroup" (selectionChange)="setGroup($event.value)">
      <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="sessions.length > 0">
  <h3>Sessions</h3>
  <div *ngFor="let session of sessions">{{ session.start_time }}</div>
</div>
